<header class="fixed w-full z-20 top-0 start-0">
  <nav class="bg-neutral-primary">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-7" alt="Flowbite Logo" />
        <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">TodoApp</span>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        <% if authenticated? %>
          <%= link_to "Logout", session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure to log out?" }, class:"text-sm font-medium text-fg-brand hover:underline" %>
          <%= link_to "Login", new_session_path, class:"text-sm font-medium text-fg-brand hover:underline" %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path, class:"text-sm font-medium text-fg-brand hover:underline" %>
          <%= link_to "Login", new_session_path, class:"text-sm font-medium text-fg-brand hover:underline" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

